spring:
  application:
    name: backend
  main:
    banner-mode: "off"
  datasource:
    url: jdbc:oracle:thin:@{{ db_service_name }}_high?TNS_ADMIN=/home/opc/backend/wallet
    username: ADMIN
    password: "{{ db_admin_password }}"
    oracleucp:
      initial-pool-size: 2
      min-pool-size: 2
      max-pool-size: 10
server:
  port: 8080
selectai:
  profile:
    query: GENAI_SELECT_AI
    agents: GENAI_AGENTS
    rag: GENAI_RAG
  agents:
    team: SH_ANALYST_TEAM
